body{
    margin: 0;
}

.home-grid{
    height: 80vh;
    background-image: url('https://wallpapercave.com/wp/wp3350141.jpg');
    display: grid;
    background-position: center;
    background-size: cover;
    grid-template-columns: 1fr 1fr;
}
.home{
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
}
.home-signup{
    display: flex;
    flex-direction: column;
}
.resOverBox{
    grid-column-start: 2
}
.home-signup-side{
    background-color: white;
    width: 80%;
    height: 90%;
    margin: auto;
    overflow: auto;
    display: inline;
}
.plane-gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 50vh;
}
.plane-pic-one{
    background-image: url('images/plane.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.plane-pic-two{
    background-image: url('images/plane.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}
.plane-pic-three{
background-image: url('images/plane3.jpg');
background-size: contain;
background-position: center;
height: 100%;
width: 100%;
grid-column: 1/-1;
}

.calenderDisplayNone{
    display: none;
}

.calenderDisplay{
    
}