
.cart {
  //position: absolute;
  //bottom: 0;
  //height: 550px;
  //width: 100%;
  //background-color: lightcoral;
  //height: 400px;
  //width: 90%;
  //position: absolute;
  //top: 0px;
  //left: 5%;
  //border-radius: 10px;
  &--closed{
    display: none;

  }
  &__date{
    //background-color: pink;
  }
  &__date-time-container{
    //background-color: pink;
    display: flex;
  }
  //&__date-select{
  //  width: 49%;
  //  border: 1px solid black;
  //}
  &__label{
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  @import 'dateSelect';
  @import 'startEndTime';
  &__checkout{
    position: absolute;
    bottom: 0;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    background-color: #64A4D1;
    color: white;
    font-size: 18px;

  }
  &__important{
    margin-top: 30px;
    span{
      color: red;
    }
  }
  &__amount-due{
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
  }
  &__amount-due-price{
    margin-left: auto;
  }
  &__estimated-total{
    display: flex;
  }
  &__estimated-total-price{
    margin-left: auto;
  }
}