&__date-block-container {
  display: flex;
  //background-color: lightblue;
}

&__date-wrapper {

  position: relative;
  width: 70%;
  //margin: 1%;
  margin-right: 5px;
  //background-color: #64A4D1;
  &--start {
    margin-left: 0;
  }


  &--end {
    margin-right: 0;
  }
}

&__date-select {
  background-color: white;
  padding-left: 5px;

  display: flex;
  //justify-content: space-around;
  border: 1px solid rgba(0,0,0,.3);

}

&__date-selected {
  display: flex;
  align-items: center;
  position: relative;
  padding: 2px;
  width: 95%;
  height: 35px;
}

&__date-selected-icon {
  position: absolute;
  top: 0px;
  right: -5px;
}

&__calendar-drop-down {
  height: 100px;
  position: absolute;
  //width: 100%;
  //z-index: 4;
  //border: 1px solid rgba(0,0,0,.3);
  //margin-top: 2px;
  //height: 80px;
  transition: height 200ms;
  //&::-webkit-scrollbar{
  //  width: 10px;
  //  height: 95%;
  //  &-thumb{
  //    height: 25px;
  //    border-radius: 5px 5px 5px 5px;
  //    color: pink;
  //    background-color: #C1C8D4;
  //  }
  //}
  z-index: 5;
  &--closed{
    z-index: 4;
    height: 0;
    overflow: hidden;
    border: none;
    transition: height 200ms;
  }
}
.calendar{
  opacity: 1;
  z-index: 9999;
}
