
$phone : '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
//$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$tablet-landscape: '(min-width: 768px)';
$large-desktop: '(min-width: 1024px)';
$xl-desktop: '(min-width: 1440px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)';

@mixin responsive($size){
  @media only screen and #{$size}{
    @content;
  }
}