&__time-block-container {
  display: flex;
  background-color: white;
}

&__time-block-wrapper {
  position: relative;
  width: 49%;
  //margin: 1%;
  background-color: white;
  &--start {
    margin-left: 0;
  }

  &--end {
    margin-right: 0;
  }
}

&__time-option-select {
  background-color: white;


  display: flex;
  //justify-content: space-around;
  border: 1px solid black;

}

&__time-option-selected {
  position: relative;
  padding: 2px;
  width: 95%;
}

&__time-option-selected-icon {
  position: absolute;
  top: 0px;
  right: -5px;
}

&__time-option-drop-down {
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 4;
  border: 1px solid rgba(0,0,0,.3);
  margin-top: 2px;
  height: 80px;
  transition: height 200ms;
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 10px;
    height: 95%;
    &-thumb{
      height: 25px;
      border-radius: 5px 5px 5px 5px;
      color: pink;
      background-color: #C1C8D4;
    }
  }
  &--closed{
    z-index: 4;
    height: 0px;
    overflow: hidden;
    border: none;
    transition: height 200ms;
  }
}
&__time-option-list-item{
  padding-left: 5px;
  &:hover{
    background-color: #64A4D1;
    color: white;
    cursor: grab;
  }
}