.footer-style {
    display: flex;
    height: 15vh;
    width: auto;
    background-color: black;
    font-family: 'Lobster', cursive;
    align-items: center;
    color: white;
}

.filler {
    height: 10vh;
    width: auto;
}
.email-us-button {
    height: 30px;
}

.email-mail-form {
    height: 10vh;
    width: 360px;
    margin-left: 10px;
    margin-right: 10px;
}
.test-mailing {
    display: flex;
    color: black;
}