.footer-style {
    display: flex;
    height: 15vh;
    width: auto;
    background-color: rgb(202, 221, 243);
    font-family: 'Lobster', cursive;
    box-shadow: 0 0 8px 8px rgba(207, 199, 210, .8) inset;
    align-items: center;
}

.filler {
    height: 10vh;
    width: auto;
    background-color: blueviolet;
}
.email-us-button {
    height: 30px;
}

.email-mail-form {
    height: 10vh;
    width: 360px;
    margin-left: 10px;
    margin-right: 10px;
}
.test-mailing {
    display: flex;
    color: black;
}