/* font-family: 'Lobster', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Permanent Marker', cursive; */

* {
    margin: 0px;
    /* padding: 0px; */
    box-sizing: border-box;
}

.navbar-styles {
    display: flex;
    height: 5vh;
    width: auto;
    background-color: black;
    padding-left: 12px;
    padding-bottom: 40px;
    font-family: 'Lobster', cursive;
}

.navbar-style {
    text-align: left;
    display: flex;
    justify-content: left;
    text-decoration: none;

}

.not-home {
    font-size: 12px;
    text-align: right;
    display: flex;
    justify-content: right;
    align-content: right;
    margin-left: 100px;
}

.style-O {
    font-size: 30px;
    color: white;
}

.style-Bar {
    font-size: 15px;
    color: white;
    display: flex;
    margin-top: 10px;
}

.style-D {
    font-size: 30px;
    color: white;
}