@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

.upload-info {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 15px;
}

